*{
    margin: 0;
    padding: 0;
}

.submitButton{
    background: #575757;
    color: #ffffff;
    width: 100px;
    text-align: center;
    border: 1px solid #000000;
    display: block;
}
.submitButton:hover{
    background: #ffffff;
    color: #575757;
    cursor: default;
}
.hidden{
    display: none;
}
.hiddenScoreBoard{
    display: none;
}